version: "3.7"

services:
  compute-api:
    build: .
    restart: on-failure
    container_name: compute-api
    ports:
      - 5000:5000
    pid: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - HOST=${HOSTNAME:-nuvlabox}
    healthcheck:
      test: netstat -tulpn | grep LISTEN | grep 5000 | grep socat
      interval: 20s
      timeout: 10s
      start_period: 30s


